$COLOR_MAIN: #149e7b;
$COLOR_WHITE: #fff;
$COLOR_GRAY: #f8f8f9;
$COLOR_GREYOUT: #bdbec8;
$COLOR_BLUE: #0848de;
$COLOR_NAVY: #09263d;
$COLOR_FIRM: #0649ff;
$COLOR_PINK: #ff2475;
$COLOR_GRAIENT_BLUE: linear-gradient(270deg, #0839e6 0%, #148d9e 100%);
$COLOR_GRAIENT_BLUE_REVERSE: linear-gradient(-270deg, #0839e6 0%, #148d9e 100%);
