/* font-size */

@mixin font-size($size, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) + rem;
}

/* end */

@mixin button-close {
  position: relative;

  &::after,
  &::before {
    background-color: $COLOR_NAVY;
    content: '';
    height: 2px;
    vertical-align: middle;
    width: 13px;
  }
}

@mixin button-plus {
  position: relative;

  &::after,
  &::before {
    @include before-after-position(null, 0, 0, null);
    background-color: $COLOR_NAVY;
    content: '';
    height: 2px;
    vertical-align: middle;
    width: 13px;
  }

  &::after {
    transform: rotate(90deg);
  }
}
